<!DOCTYPE html> 
<html> 
<head>
	<meta charset="utf-8"> 
    	<title></title> 
    	<link rel="stylesheet" href="../css/public/reset.css"/>
    	<link rel="stylesheet" href="../css/framwork/mainframe.css"/>
    	<link rel="stylesheet" href="../css/module/contactItem.css"/>
    	<link rel="stylesheet" href="../css/module/popUp.css"/>
</head>
<body>
		<div class="main">
		<div class="header-top">
			<div class="header-top-item-stage">
				<span class="header-top-item">
					<a href="#userinfo">shawn</a>
				</span>
				<span class="header-top-item logout">
					<a href="#logout">logout</a>
				</span>
			</div>
		</div>
		<div class="header-main">
			<div class="logo">
				My Contact
			</div>
			<div class="menu">
				<span class="menuitem">
					<a href="javascript:;">add</a>
				</span>
			</div>
		</div>
		<div class="content">
			
		</div>
		<div class="footer"></div>
	</div>
    	<script src="../js/tool/sea.js"></script>
    	<script>
    		seajs.use("main/index.main");
    	</script>
</body>
</html>